<!DOCTYPE html>
<title>Attendance Grid</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<div id="page-header">
    <h1>Attendance Grid</h1>
</div>
<table>
    <tr>
        <td>Name</td>
        <td>Points</td>
        {% for date in dates %} 
        <td>{{ date }}</td>
        {% endfor %}
    </tr>
{% for name, attendance in attendance_data %}
    <tr>
        <td class="{{ loop.cycle('table-light', 'table-dark') }}">{{ name }}</td>
        <td class="{{ loop.cycle('table-light', 'table-dark') }}">{{ points[name] }}/{{ totals[name] }}</td>
        {% for presense in attendance %}
        {% if presense == "-" %}
        <td>-</td>
        {% elif presense %}
        <td></td>
        {% else %}
        <td class="table-absent" }}>X</td>
        {% endif %}
        {% endfor %}
    </tr>
{% endfor %}
</table>
